.sideNav {
    font-family: 'Righteous', 'cursive';
}

.logoQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Raleway', 'sans-serif';

    p {
        margin: 0;
    }
}